

<!--  <div class="loginbar">
	<div class="container-fluid">
		<div class="span8">
			<div class="leftside"></div>	
		</div>
		<div class="span3">
			<a href="/auth/google">
      		<div class="login">
      		</div>
      		</a>
		</div>
	</div>
</div>
-->
<div class="mgap"></div>
<h3 > What is CleverAds? </h3>
<div class="mgap"></div>
<p class="about" >A advertising tool for blog/website owners enabling them display ads on others' websites.
The whole concept of cleverads is mutual cooperative advertising.</p>

<h3>How does it work?</h3>

<p class="about">When you sign up and create an ad, we place your ad on other user's gadgets and 
similarly place others' ads on your blog's gadget.The whole adspace is shared by all the users.</p>

<p class="about">So each user is both being advertised and advertising some one else.
It's a two way mechanism.</p>
<p class="about">A blog owner who wishes to market his blog with us has to first sign up and can then create his own ad.
The user is then given the option of selectecting the kind of ads that will be displayed in his blog.</p>
<p class="about">
A gadget is then added onto the user's blog/website which starts displaying ads</p>
</body>