<div class="mwhitegap" ></div>
<p class="about" style="text-align: center; color:black; background-color: grey">The code snippet used to add the CleverAds widget onto your site. Select the kind of Ads in which your site must be displayed For instructions on how to add the gadget onto your site, visit link</p>

<div style="position: relative">
	<div class="row-fluid">
	<div class="span4" style="background-color: #999999">
		<div class="about">
		<p class="widget_customize" style="color: white">Select the code type</p>
			<p style="font-family: Castellar; font-weight: bolder"><input type="radio"/>&nbsp;html</p>
			<p style="font-family: Castellar; font-weight: bolder"><input type="radio"/>&nbsp;xml</p>
		<br />
		<p  class="about" style="color: white">Set widget style</p>
			<p style="font-family: Castellar; font-weight: bolder">Width:&nbsp;&nbsp;&nbsp;<input type="text"/>&nbsp;pixels</p>
			<p style="font-family: Castellar; font-weight: bolder">Height:&nbsp;<input type="text"/>&nbsp;pixels</p>
			<p style="font-family: Castellar; font-weight: bolder">Width:&nbsp;
				<select name="aligning">
					<option value="top">Top</option>
					<option value="right">Right</option>
					<option value="left">Left</option>
					<option value="bottom">Bottom</option>
					<option value="middle">Middle</option>					
				</select> 
			</p>
		</div>
	</div>
    <div class="span8">
    	aajgiewj vjalof   
		<!-- widget code will be rendered here-->
	</div>
	</div>
</div>